<div class="wrapper">
  <div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]="secondForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let item of secondFormJSON">
        
        <ng-container *ngIf="!item.array">
          <ng-container [ngSwitch]="item.type">
          
            <ng-template ngSwitchCase="text">
              <app-text-form [item] = "item" [form]="secondForm"></app-text-form>
            </ng-template>
          
            <ng-template ngSwitchCase="radio">
              <app-radio [item] = "item" [form]="secondForm"></app-radio>
            </ng-template>
        
          </ng-container>  
        </ng-container>
        <div *ngIf="item.array">
          <label>{{item.name}}</label>
        <div formArrayName="{{item.name}}">
            
        <div class="form-group" *ngFor="let itemArray of secondForm.controls[item.name].controls; let i = index">
            
          <input class="form-control" formControlName="{{i}}">
            <i class="fas fa-times remove-icon" (click)="removeItem(item.name, i)"></i>
        </div>
        </div>
        <button type="button" class="btn btn-default" (click)="addItem(item.name, item.controls[0].value)">
          add {{item.name}}
          </button>  
        </div>
        </div>   
            <div class="form-group">     
        <button 
          class="btn btn-success" 
          type="submit"
          >send</button>
      </div>
      </form>
</div>