<div class="wrapper">
  <div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]="selectedForm" (ngSubmit)="onSubmit()">
    
    <div *ngFor="let item of selectedFormData">
      
      <ng-container [ngSwitch]="item.type">
        <ng-template ngSwitchCase="text" >
          <app-text-form [item] = "item" [form]="selectedForm"></app-text-form>
        </ng-template>

            
        <ng-template ngSwitchCase="radio">
          <app-radio [item] = "item" [form]="selectedForm"></app-radio>
        </ng-template>

        <ng-template ngSwitchCase="select">
          <label for="{{item.name}}">select {{item.label}}</label> <br>
          <select name="{{item.name}}" id="{{item.name}}" formControlName="{{item.name}}">
            <ng-container *ngFor="let option of item.options">
              <option value="{{option.value}}" [selected]="option.selected">{{option.value}}</option>
            </ng-container>              
          </select>
        </ng-template>

      </ng-container>
    </div>

    <div class="form-group">
      <button 
        class="btn btn-success" 
        type="submit"
        [disabled] = "selectedForm.invalid"
      >send</button>
    </div>
    </form>
  </div>  
  </div>