<div class="wrapper">
  <div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]="selectedForm" (ngSubmit)="onSubmit()">
    
    <div *ngFor="let item of selectedFormData">
      
      <ng-container [ngSwitch]="item.type">
        <ng-template ngSwitchCase="text" >
          <app-text-form [item] = "item" [form]="selectedForm"></app-text-form>
        </ng-template>

            
        <ng-template ngSwitchCase="radio">
          <app-radio [item] = "item"  ></app-radio>
        </ng-template>

        <ng-template ngSwitchCase="select">
          <app-select [item] = "item" [form]="selectedForm"></app-select>  
        </ng-template>
        <ng-template ngSwitchCase="group">
          <div formGroupName="UsaGroup"> 
            <ng-container *ngFor="let child of item.children" >
              <input type="text" formControlName="{{child.name}}">
              {{child.name}}
            </ng-container>
          </div>
        </ng-template>


      </ng-container>
    </div>

    <div class="form-group">
      <button 
        class="btn btn-success" 
        type="submit"
        [disabled] = "selectedForm.invalid"
      >send</button>
    </div>
    </form>
  </div>  
  </div>