
.wrapper {
    width:500px;
    margin: 5px auto;
}

.delete:hover {
    color:red;
}

.remove-icon {
    position: absolute;
    top:10px;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    
    &:hover {
        color: red;
    }
}
.form-group {
    position: relative;
}