
.wrapper {
    width:500px;
    margin: 5px auto;
}

.delete {
    
    position: absolute;
    bottom:12px;
    right:10px;
    cursor: pointer;
}

.delete:hover {
    color:red;
}
.phone-group {
    position: relative;
}